extends layout

block content
    h1 Add task
    form(method='POST', action='/tasks/add')
        .form-group
            label Title:
            input.form-control(name='title', type= 'text')
        .form-group
            label Body:
            textarea.form-control(name='body')
        .form-group
            label For:
            textarea.form-control(name='for')
        input.btn.btn-primary(type= 'submit', value= 'Submit')       

              
