extends layout

block content
    .jumbotron
      h1 Task manager
      p.lead
        | You still don't have Task manager? Then Sign up today!
      p
        a.btn.btn-lg.btn-success(href='users/register', role='button') Sign up today
    .row.marketing
      .col-lg-6
        h3 Organize
        p
          | With the Task Manager you can easily organize your work process.
        br
        h3 Synchronize
        p
          | This tool will help you synchronize the work with colleagues.
        
      .col-lg-6
        h3 Join to us
        p
          | You can join now for free :)
        br
        h3 Updating
        p
          | Everyday we update this tool for you.
        
